<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
    <style>
        html, body{
            font-family: 'Source Sans Pro', sans-serif;
        }
    </style>
</head>
<body>
    <h3>Welcome to the chat room!</h3>
    <a href="/">Home</a>
    <br>

    <div id="chat-log" style="width: 675px; height: 300px; border: 1px solid black; overflow-y: scroll;"></div>

    <input id="chat-message-input" type="text" size="100"><br>
    <input id="chat-message-submit" type="button" value="Send">

    <!--Live messaging-->
    <script>
        var chatSocket = '';
        var room = "{{ room }}";

        if (window.location.protocol != "https:") {
            chatSocket = new WebSocket(
                'ws://'
                + window.location.host
                + '/ws/chat/'
                + room
                + '/'
            );
        }
        else {
            chatSocket = new WebSocket(
                'wss://'
                + window.location.host
                + '/wss/chat/'
                + room
                + '/'
            );
        }

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            displayMessage(data.message);
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
        };
    </script>

    <!--jQuery-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!--Preload older text messages-->
    <script>
        $.ajax({
            type: 'GET',
            url: "{% url 'load_messages' %}",
            data: {'room': room},
            success: function (response) {
                for(let i = 0; i < response.data.length; i++){
                    displayMessage(response.data[i]);
                }
            },
            error: function (response) {
                console.log(response);
            }
        })
    </script>

    <!--Display message-->
    <script>
        function displayMessage(message){
            let chat_log = document.querySelector('#chat-log');

            let msg = document.createElement('div');

            if("{{ user.username }}" == message[0]){
                msg.setAttribute('style', 'float: right; color: blue; width: 600px; text-align: right; overflow-wrap: break-word;');
            }
            else{
                msg.setAttribute('style', 'float: left; width: 600px; text-align: left; overflow-wrap: break-word;');
            }

            msg.textContent = message[0] + ': ' + message[1];

            let time = document.createElement('p');
            time.setAttribute('style', 'size: 3px; color: gray;');
            time.textContent = message[2];
            msg.appendChild(time);

            if("{{ user.username }}" == message[0]){
                let dlt_btn = document.createElement('button');
                dlt_btn.setAttribute('class', 'delete');
                dlt_btn.setAttribute('style', 'color: red;');
                dlt_btn.textContent = 'Delete';
                dlt_btn.value = message[3];
                msg.appendChild(dlt_btn);
            }

            chat_log.appendChild(msg);
        }
    </script>

    <!--A script to delete messages-->
    <script>
        async function deleteButtons(){
            await new Promise(r => setTimeout(r, 500));

            var dlt_btns = document.querySelectorAll('.delete');

            for(let i = 0; i < dlt_btns.length; i++){
                console.log(i);

                let curr_btn = dlt_btns[i];

                curr_btn.addEventListener('click', function(){
                    curr_btn.parentElement.parentElement.removeChild(curr_btn.parentElement);

                    $.ajax({
                        type: 'GET',
                        url: "{% url 'delete_message' %}",
                        data: {'id': curr_btn.value},
                        success: function (response) {
                            console.log(response);
                        },
                        error: function (response) {
                            console.log(response);
                        }
                    })
                });
            }
        }
        deleteButtons();
    </script>
</body>
</html>