<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <style>
        html, body{
            font-family: 'Source Sans Pro', sans-serif;
        }
        .helptext {
            visibility: hidden;
        }
        ul {
            display: None;
        }
        .errorlist {
            display: block;
        }
    </style>
</head>
<body>
    <img src="{{ user.profile.profile_picture.url }}" height="100px">
    <h3>Welcome, {{ user.username }}</h3>

    <div style="border: 1px solid black; border-radius: 8px; width: fit-content; padding: 6px;">
        <form method="post" action="{% url 'index' %}">
            {% csrf_token %}
            {{ user_change_form.as_p }}
            <button name="change" type="submit">Change user</button>
        </form>
    </div>

    <div style="border: 1px solid black; border-radius: 8px; width: fit-content; padding: 6px;">
        <form method="post" action="{% url 'index' %}">
            {% csrf_token %}
            {{ user_search_form.as_p }}
            <button name="search" type="submit">Search for user</button>
        </form>
    </div>

    {% if found_users %}
        <h5>Results:</h5>
        {% for f_user in found_users %}
            <img src="{{ f_user.profile.profile_picture.url }}" height="50px">
            <p>{{ f_user.username }}</p>
            <br>
            <a href="{% url 'create_url' f_user.id %}">Message</a>
        {% endfor %}
    {% endif %}

    <a href="/chat/lobby/">Join the chat room</a>

    <br>
    <a href="/accounts/logout/?next=/">Logout</a>
</body>
</html>